.user-input-form {
  width: 400px;
  margin: 10px auto;
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
  }
  &__name {
    margin-bottom: 10px;
    &_error {
      background-color: rgba(255, 0, 0, 0.226);
    }
  }
  &__actions {
    text-align: right;
  }
  &__error-message {
    color: rgb(148, 0, 0);
    font-size: 0.8rem;
  }
}
