.login-page {
  height: 100vh;
  background: url('../../img/topVectorBackground.svg') top right no-repeat,
    url('../../img/bottomVectorBackground.svg') bottom left no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  &__wrapper {
    display: flex;
    justify-content: flex-end;
    height: 760px;
    max-width: 1232px;
    background: #15195f;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.07), 0px 5px 12px rgba(0, 0, 0, 0.04);
    border-radius: 32px;
  }
  &__content {
    width: 764px;
    padding: 32px 49px;
    background: #ffffff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.07), 0px 5px 12px rgba(0, 0, 0, 0.04);
    border-radius: 32px;
  }
  &__title {
    width: 360px;
    margin: 50px auto 40px;
    font-family: Play;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #232428;
    opacity: 0.9;
  }
  &__bg-text {
    width: 468px;
    margin: auto;
    font-family: Play;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fffefe;
  }
}
