html {
  font-family: 'Play', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f8f8fa;
}

/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;700&family=Play:wght@400;700&display=swap');
